*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#max{
  height:100vh;
  width:100vw;
}

#name{
  padding-left:20px;
  font-size:26px;
  color:rgb(160, 160, 154);
  display:flex;
  justify-content:space-between;
  align-items: center;
  border-bottom: 2px solid white;
  height:12%;
}




#mid{
  height:40vh;
  width:60vw;
  color:white;
  font-size:20px;
  display:flex;
  justify-content: center;
  align-items: end;

}
#all{
  display:flex;
  align-items:center;
  justify-content: center;
}
#bid{
  height:7vh;
  width:25vw;
  border:4px solid rgb(76, 207, 207);
  border-radius: 25px;
  background-color: rgb(136, 248, 248);
  font-size: 7px;
  display:flex;
  justify-content: center;
  align-items: center;
  position:relative;
}
#bidi{
  background-color:rgba(0, 0, 0, 0);
  color:black;
}
#bido1{
  background-color:rgb(25, 110, 82);
  display:none;
  width:200px;
  z-index:1;
  position: absolute;
  box-shadow: 5px 5px  rgba(35, 199, 199, 0.24);



}
.bido{
  background-color: rgb(76, 207, 207);
  color:black;
  border:none;
}
#show:hover{ 
  #bid{
    color:transparent;
    background-color: transparent;
    border:none;
  }
  #bido1{
  display:block;
}
}


.bidob{
  width:100%;
  background-color: transparent;
  border:none;
  font-size:15px;
}

.bido:hover {
  background-color: white;
}

#card{
  background-color: rgb(10, 75, 71);
  display:flex;
  width:500px;
  height:300px;
  margin:50px;
  justify-content: center;

}
